include
include-rdg
include_wq2
make-build-dir
make-build-dir-rdg
make-build-dir-wq2
bin
inputs/*.C
inputs/*.h
inputs/*.po*
inputs/*.xml
inputs/*.sps
inputs/setup-*
src/cpplint-violations.txt
src/nsiqcpp-style-violations.txt
*.log
*.swp
lib
*.dat
aclocal.m4
autom4te.cache
configure.tmp
err
a.cfg
Makefile.in
inputs/*.h
*.sum
config/qscript.config
tags
TAGS
TAGS.*
