include
make-build-dir
make-build-dir-wq2
include_wq2
include-rdg
bin
inputs/*.C
inputs/*.h
inputs/*.xdat
inputs/*.xmap
inputs/*.xml
inputs/*.xtcc
src/cpplint-violations.txt
src/nsiqcpp-style-violations.txt
*.log
*.swp
lib
*.dat
aclocal.m4
autom4te.cache
configure.tmp
err
a.cfg
Makefile.in
inputs/*.h
*.sum
config/qscript.config
tags
TAGS
TAGS.*
