include
make-build-dir
bin
inputs/*.C
inputs/*.h
src/cpplint-violations.txt
src/nsiqcpp-style-violations.txt
*.log
*.swp
lib
*.dat
aclocal.m4
autom4te.cache
configure.tmp
err
a.cfg
Makefile.in
inputs/*.h
*.sum
config/qscript.config
tags
TAGS
TAGS.*
